$checkbox-size: 1em;

.collection-view-checkbox {
	appearance: none;
	position: relative;
	border: 1px solid var(--muted-text-color);
	border-radius: 2px;
	margin-bottom: -$checkbox-size * 0.15;
	width: $checkbox-size;
	height: $checkbox-size;

	&:checked {
		background: #26ab33 !important;

		&:after {
			position: absolute;
			box-sizing: content-box;
			content: "";
			left: calc($checkbox-size / 3);
			top: calc($checkbox-size / 5.3);
			width: calc($checkbox-size / 5.3);
			height: calc($checkbox-size / 2.6);
			border: solid white;
			border-width: 0 calc($checkbox-size / 8) calc($checkbox-size / 8) 0;
			margin: -1px 0 0 -1px;
			transform: rotate(45deg);
		}
	}
}
