@use "sass:math";

$checkbox-size: 1em;

.collection-view-checkbox {
	appearance: none;
	position: relative;
	border: 1px solid var(--muted-text-color);
	border-radius: 2px;
	margin-bottom: -$checkbox-size * 0.15;
	width: $checkbox-size;
	height: $checkbox-size;

	&:checked {
		background: #26ab33 !important;

		&:after {
			position: absolute;
			box-sizing: content-box;
			content: "";
			left: math.div($checkbox-size, 3);
			top: math.div($checkbox-size, 5.3);
			width: math.div($checkbox-size, 5.3);
			height: math.div($checkbox-size, 2.6);
			border: solid white;
			border-width: 0 ($checkbox-size * 0.125) ($checkbox-size * 0.125) 0;
			margin: -1px 0 0 -1px;
			transform: rotate(45deg);
		}
	}
}
