// A container that fills the entire note content area and scrolls in all
// directions.

.collection-view-scroll {
	overflow: auto;

	.note-detail-render-content & {
		margin: 10px;
	}

	.box-size-small & {
		max-height: 10em;
	}

	.box-size-medium & {
		max-height: 20em;
	}
}
