// Mimic style of tables in text notes.
// .table is needed to override Bootstrap.

.collection-view-table {
	border-collapse: separate;
	border-spacing: 0;

	&.table,
	.ck-content &.table {
		margin: 0;
	}

	&.table-bordered {
		border: 0;
	}

	.include-note & {
		background-color: var(--main-background-color);
	}
}

.table.collection-view-table thead th,
.table.collection-view-table tbody td {
	border-color: var(--collection-view-table-border-color);
	border-width: 0 1px 1px 0;
	padding: 0.4em;
	white-space: nowrap;
}

.collection-view-table tr > :first-child {
	position: sticky;
	left: 0;
	z-index: 1;
}

.table.collection-view-table thead th {
	position: sticky;
	top: 0;
	background: var(--accented-background-color);
	border-width: 1px 1px 1px 0;
	z-index: 2;
}

.collection-view-table thead th:first-child {
	z-index: 3;
	border-width: 1px;
}

.collection-view-table tbody td:first-child {
	background: var(--main-background-color);
	border-width: 0 1px 1px 1px;
	min-width: 300px;
	white-space: normal;
}

.collection-view-table tbody tr:hover td {
	background: var(--ck-color-table-focused-cell-background);
}

.collection-view-table .badge {
	vertical-align: top;
	margin: 0.25em 0;
}
