// Mimic style of tables in text notes.
// .table is needed to override Bootstrap.

.table.collection-view-table {
	margin: 0;
}

.table.collection-view-table thead th,
.table.collection-view-table tbody td {
	border: 1px solid var(--collection-view-table-border-color);
	padding: 0.4em;
	white-space: nowrap;
}

.collection-view-table tr > :first-child {
	position: sticky;
	left: 0;
}

// box-shadow fakes the border for the first row and column since position:
// sticky doesn't move borders.

.collection-view-table thead th {
	position: sticky;
	top: 0;
	background: var(--accented-background-color);
	box-shadow: 0 1px var(--collection-view-table-border-color),
		0 -1px var(--collection-view-table-border-color);
	z-index: 2;
}

.collection-view-table thead th:first-child {
	z-index: 3;
	box-shadow: 1px 0 var(--collection-view-table-border-color),
		0 1px var(--collection-view-table-border-color);
}

.collection-view-table tbody td:first-child {
	background: var(--main-background-color);
	box-shadow: 1px 0 var(--collection-view-table-border-color),
		-1px 0 var(--collection-view-table-border-color);
	min-width: 300px;
	white-space: normal;
}

.collection-view-table tbody tr:hover td {
	background: var(--ck-color-table-focused-cell-background);
}

.collection-view-table .badge {
	vertical-align: text-top;
}
